#myForm{
    display: grid;
    grid-template-columns: 1fr ;
    gap:25px;
    margin: 40px;
}

#myForm input, textarea{
    background: rgba(255, 255, 255, 0.2); /* Cor com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores WebKit */
    border-radius: 15px; /* Cantos arredondados */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-family: "Poppins", "Arial", serif;
    
}
#myForm button{
    justify-self: left;
    background-color: var(--darkredbg);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

