#destaques{
        background: linear-gradient(to top,  #4D0000 50%, #0d0d0d 95%, #000 100%);
   border-radius:50px ;
   padding-bottom: 50px;
}
#destaques .destaques-contents{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    
}
#destaques .destaques-contents div{
    justify-self: center;
    align-self: center;
}
#destaques .destaques-contents span{
 color: #ffffff;
}
#destaques .destaques-contents h1{
    color: #ffffff;
   }
   #destaques .destaques-contents p{
    color: #ffffff;
   }

   #destaques .destaques-contents .destaques-text{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: flex-start;
    align-self: center;
   }
   #destaques .destaques-contents .destaques-text h1{
    margin: 0;
    margin-bottom: 45px;
   }
   #destaques .destaques-contents .destaques-text span{
   color: var(--darkredbg);
   }

   #destaques .destaques-contents  div img{
    width: 100px;
    }

    #destaques .destaques-contents .img {
        text-align: center;
        background: linear-gradient(to bottom, #000 0%, #4D0000 95%, #FFF5E1 100%);
        padding: 60px 45px;
        border-radius: 85px;
        position: relative;
        }

    #destaques .destaques-contents .img::after{
        position: absolute;
        content: "";
        width: 140px;
        height: 2px;
        margin-left: -70px;
        margin-top: 10px;
        background-color: var(--lettersinred);
    }
   
    #destaques .destaques-contents .img::before{
        position: absolute;
        content: "";
        width: 100px;
        height: 2px;
        margin-left: 2px;
        margin-top: 250px;
        background-color: var(--lettersinred);
    }
   

    #destaques .card {
        max-width: 1600px;
        color: #000;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        margin-top:60px;

    }
    #destaques  h1{
        max-width: 1600px;
        margin: 0 auto;
        text-align:start;
        color: #fff;
    }

    #destaques .card li {
       background: rgba(255, 255, 255, 0.2); /* Cor com transparência */
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores WebKit */
  border-radius: 15px; /* Cantos arredondados */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 25px 45px;
        border-radius: 15px;

    }

    #destaques .card li img{
        width: 40px;
    }