.informs{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: center;
}
.informs iframe{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}