.container-prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 60px;
}
main h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 48px;
}

.card-prod {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: left;
    
}

.card-prod h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-prod p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px;
    color:var(--darkredbg) ;
    border-radius: 5px;
    font-size: 14px;
}
#veja{
    display: block;
    color: #000;
    text-align: center;
    margin-bottom: 45px;
}