.container-prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 60px;
}
main h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 48px;
}

.card-prod {
    background: rgba(255, 255, 255, 0.2); /* Cor com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores WebKit */
    border-radius: 15px; /* Cantos arredondados */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 100px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: left;
    position: relative;
    display: grid;
    justify-content: end;
    
}

.card-prod h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-prod p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px;
    color:var(--darkredbg) ;
    border-radius: 5px;
    font-size: 14px;
}
.card-prod::after{
    content: '';
    background-color: var(--darkredbg);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top:15px;
    margin-left:15px;
    position: absolute;
}
#veja{
    display: block;
    color: #000;
    text-align: center;
    margin-bottom: 45px;
}