
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "header.css";
:root{
    --darkredbg:#4D0000;
    --redbg: #662727;
    --lettersinred: #fff;
    --lettersinwhite: #0a0a0a;
    --fontfamilygeneral: "Space Grotesk", "Poppins", serif;
    --formboxbg:#e0e0e0;
    --formtextcolor:#afafaf; 
} 

*{
    margin: 0;
    font-family: var(--fontfamilygeneral);
}