
@import "header.css";
@import "main.css";
:root{
    --darkredbg:#4D0000;
    --redbg: #662727;
    --lettersinred: #fff;
    --lettersinwhite: #0a0a0a;
    --fontfamilygeneral: "Space Grotesk", "Poppins", serif;
    --formboxbg:#e0e0e0;
    --formtextcolor:#afafaf; 
} 

*{
    margin: 0;
    padding: 0;
    border: 0;

  
}

html {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;

  }